// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
	overflow: auto;
}

#container{
	overflow: auto;
	width: 100%;

	div.book-indice {
		display: inline;
		width: 50%;
		padding: 1em;
		float: left;


	}

}