// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
	overflow: auto;
	
}

#main-book{
	
	background-color: #000;
}

#container{
	overflow: auto;
	width: 100%;
	padding: 2em;

	div.book-indice {
		display: inline;
		width: 50%;
		padding: 1em;
		float: left;


	}

}

#container-book{
	padding: 2em;

	.book-info{

		background-color: beige; 
	}
}
